<header class="layout-header">
  <div class="header-left">
    <button class="sidebar-toggle" type="button" (click)="onToggleSidebar()" aria-label="Abrir menu lateral">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="header-info">
      <p class="header-kicker">{{ headerDescription }}</p>
      <div class="header-title-row">
        <h1>{{ headerTitle }}</h1>
        <div class="header-meta" *ngIf="headerMeta.length > 0">
          <span *ngFor="let item of headerMeta">{{ item }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="header-right" *ngIf="headerActions.length > 0">
    <button
      *ngFor="let action of headerActions"
      type="button"
      class="header-action"
      [ngClass]="action.variant || 'secondary'"
      (click)="onHeaderAction(action)">
      {{ action.label }}
    </button>
  </div>
</header>